@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css);
._1fFt3mhoAjHdI9KjdXwiJG {
    border-bottom: 1px dashed #007bff;
}
._1fFt3mhoAjHdI9KjdXwiJG:hover {
    text-decoration: none;
}

._39TL8GArlQw7aUWe8UA51_ {
    max-width: 50px;
    position: relative;
}


._39TL8GArlQw7aUWe8UA51_ > input::-webkit-outer-spin-button,
._39TL8GArlQw7aUWe8UA51_ > input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

._39TL8GArlQw7aUWe8UA51_ > input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

._3r5EggfiVRgwjKpPbblG7x {
    visibility: hidden;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}
._39TL8GArlQw7aUWe8UA51_:hover > ._3r5EggfiVRgwjKpPbblG7x {
    visibility: visible;
}

._2fm-PHIZ1vjSCIb2ZiDh9g {
    vertical-align: middle;
    line-height: 2;
}

._3TwJuuVA3A34CV1N2Vm57a {
    width: 128px;
    /* height: 128px;*/
    margin-right: auto;
    margin-left: auto;
}

._3X7MQ7DTf8-WnWd6NzQ0Ah {
    position: absolute;
    /*left: 0;*/
    right: 0;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}


._1rcBQvphkleKOfovl_Pvke {
    margin-left: 4px;
}
/*@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");*/

.pyUw6XrDJwVDAd3O8540m {

}

.pyUw6XrDJwVDAd3O8540m td, .pyUw6XrDJwVDAd3O8540m th {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    vertical-align: middle;
}

.gw3rbQq5ewCSIxGBpPmLW {
    min-width: 150px
}

._9SKic9U7zOc4ced8VnqrQ a {
    text-decoration: none;
    border-bottom: 1px dashed black;
}

._9SKic9U7zOc4ced8VnqrQ i {
    margin-left: 5px;
}

.xL9O5xYzyPwhLPC4mMolg {
    visibility: hidden;
}


@media only screen and (max-width: 760px) and (orientation: portrait), (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    ._3muOVdl36jJiVia7saOlXF {
        /* Hide table headers (but not display: none;, for accessibility) */
        /*
        Label the data
        */
    }

    /* .adaptive table {
      empty-cells: show;
    } */
    ._3muOVdl36jJiVia7saOlXF table,
    ._3muOVdl36jJiVia7saOlXF thead,
    ._3muOVdl36jJiVia7saOlXF tbody,
    ._3muOVdl36jJiVia7saOlXF th,
    ._3muOVdl36jJiVia7saOlXF td,
    ._3muOVdl36jJiVia7saOlXF tr {
        display: block;
    }

    ._3muOVdl36jJiVia7saOlXF thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    ._3muOVdl36jJiVia7saOlXF tr {
        border: 1px solid #ccc;
    }

    ._3muOVdl36jJiVia7saOlXF td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding: 1rem 1rem 1rem 30%;
        box-sizing: border-box;
        max-width: unset;
    }

    ._3muOVdl36jJiVia7saOlXF td:empty::after {
        content: "\200B";
    }

    ._3muOVdl36jJiVia7saOlXF td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 12px;
        left: 6px;
        /*     width: 45%;
            padding-right: 10px; */
        white-space: nowrap;
    }

    ._3muOVdl36jJiVia7saOlXF td:nth-of-type(1):before {
        content: "#";
    }

    ._3muOVdl36jJiVia7saOlXF td:nth-of-type(2):before {
        content: "Picture";
    }

    ._3muOVdl36jJiVia7saOlXF td:nth-of-type(3):before {
        content: "nwkAddr";
    }

    ._3muOVdl36jJiVia7saOlXF td:nth-of-type(4):before {
        content: "FriendlyName";
    }

    ._3muOVdl36jJiVia7saOlXF td:nth-of-type(5):before {
        content: "ieeeAddr";
    }

    ._3muOVdl36jJiVia7saOlXF td:nth-of-type(6):before {
        content: "ManufName";
    }

    ._3muOVdl36jJiVia7saOlXF td:nth-of-type(7):before {
        content: "ModelId";
    }

    ._3muOVdl36jJiVia7saOlXF td:nth-of-type(8):before {
        content: "LinkQuality";
    }

    ._3muOVdl36jJiVia7saOlXF td:nth-of-type(9):before {
        content: "Interview";
    }

    ._3muOVdl36jJiVia7saOlXF td:nth-of-type(10):before {
        content: "LastSeen";
    }

    ._3muOVdl36jJiVia7saOlXF td:nth-of-type(11):before {
        content: "Routes";
    }

    ._3muOVdl36jJiVia7saOlXF td:nth-of-type(12):before {
        content: "PS";
    }

    ._3muOVdl36jJiVia7saOlXF td:nth-of-type(13):before {
        content: "Actions";
    }

    ._3muOVdl36jJiVia7saOlXF ._1iHkacKbhmIu3DVhNRYbcT {
        max-height: 3em;
        position: absolute;
        top: 4px;
    }
}

.EFe8Zugx_CKGG7nI77css {
    max-width: 75px;
}

._1GxvFsSniUTQeAfkPTn-cK {
    max-width: 145px;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: rtl;
}

._3hdFev3NLQTc3kbVCsXlHM {
    max-width: 75px;
}

._1mC0z2WyiQ2lZUxLOQpEt5 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    /*position: relative;*/
    min-height: 56px;
    /*width: 56px;*/
}

._1iHkacKbhmIu3DVhNRYbcT {
    max-height: 2em;
    /*position: absolute;*/
    /*right: 0;*/
    /*top: 0;*/
}

._1iHkacKbhmIu3DVhNRYbcT {
    transition: transform .5s ease;
}

._1iHkacKbhmIu3DVhNRYbcT:hover {
    transform: scale(4) translate(5px, 0);
}
._3UsUxhqLZHNtuszm8EI_1s {
    width: 100%;
    height: 100%;
    user-select: none;
}
.fuuZbvihQGWIy3CO8t5fw {
    width: 32px;
    height: 32px;
    opacity: 1;
}
.I_ddn1k4fvLAQLh2qam_d {
    font-size: 14px;
    cursor: pointer;
}

.oJeonYZxCbLDqS9yrBiG5 {
    stroke: #999;
    stroke-opacity: 1;
}

.ipEfrGz4VI8P2v-Hm0MgN {
    text-anchor: middle;
    pointer-events: none;
    font-size: 10px;
    fill: black;
    flood-color: #FFFFFF;
    flood-opacity: 1;
}

.qlfIBJJwZ24x2b-QgFmLW {
    -custom-noop: noop;
}

._1eZESYvchmyr8mmKIBCmBR {
    -custom-noop: noop;
}

._113dX3BKO5fr4pAzdXC69K {
    fill: green;
}
._3-cVoVzbbOOvbMydd2G1J6 {
    stroke: #fff;
    stroke-width: 2px;
}
._3-cVoVzbbOOvbMydd2G1J6 text {
    display: none;

}
._1NuCcdsGVpzqyMOXPkAEco,
._3-cVoVzbbOOvbMydd2G1J6 {
    fill: blue;
}

._16GkebpgcHFnf2uJIgqlWu {
    stroke: blue;
}

._2nbipMaMmif3N4YQw4wgIC {
    stroke: blue;
    stroke-dasharray: 5;
}

._2kxuG_VR9_Fy7SGa4OSXVQ {
    stroke: green;
}

._3fc-4gZS_GCPbobf1dvlBo {
    stroke: green;
    opacity: 0.8;
    stroke-dasharray: 5;
}

.nnn_JJwC5kC3gKbpcaXVA {
    overflow: visible;
    width: 100%;
    height: 100%;
}

._2eFLqqfzaRUzHTEot23elk {
    opacity: 0.5;
    stroke: gray;
}
._1rk7BV3JOGLq0LBsDwlTT {
    border: 1px solid #000;
    min-width: 200px;
    width: max-content;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.75);
}

._1hcagYbY_Y6eeTNwa8vpcB {
    max-height: 128px;
    display: block;
}

._215Q2JzCNabshB1BCJTrhS {
    animation: _215Q2JzCNabshB1BCJTrhS 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes _215Q2JzCNabshB1BCJTrhS {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes _16C5lzFK8yu8gOeBQzvevo {
    0% {
        color: red;

    }

    100% {
        color: black;
    }
}


._16C5lzFK8yu8gOeBQzvevo {
    animation: _16C5lzFK8yu8gOeBQzvevo 1s linear infinite;
}
._PTLkMdFkXUDWwzPaERqN {
    /*height:100vh;*/
    background-color: #222222;
    color: #d6d6d6;
    /*height: 90vh;*/
    overflow: auto;
    display: flex;
    flex-direction: column;
}

._3NyLFE6WWES_iOq0-i6PJP {
    display: inline-block;
    width: 55px;
    margin-left: 15px;
    margin-right: 15px;
    color: #666666;
    user-select: none;
    text-align: right;
    min-width: 40px;
    cursor: pointer;
    text-decoration: none;
    padding-right: 1em;
}

.t9x92HLE4CKZHxsr5l9VR {
    font-family: "Monaco", monospace;
    font-size: 12px;
    white-space: pre;
    color: #d6d6d6;
    font-weight: 400;
}

.t9x92HLE4CKZHxsr5l9VR:hover {
    background-color: #444444;
}



.geoNa2kIUpUOXRRhXv41P {
}

._3bamqu8MV-LdBWIqwXZF-m {
    position: absolute;
    bottom: 0;
    width: 100%;
}


._3W7vvcN5rn-Hks20WXtAxn {
    /*min-height: 100vh;*/
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

._3W7vvcN5rn-Hks20WXtAxn ._3jzXMdkdqB1jZWSn8jJrxy {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

._3W7vvcN5rn-Hks20WXtAxn .list-group {
    width: 15rem;
}

._2b1ylNBPUCV70QwL8PCeVi {
    /*min-width: 100vw;*/
    width: 100%;
    overflow-y: scroll;
}

._2iW__Y0Jv3LpP7xYpJL3Rn._1QAgcfZ8fkCv8iLqfl7-tD ._3W7vvcN5rn-Hks20WXtAxn {
    margin-left: 0;
}

@media (min-width: 768px) {
    ._3W7vvcN5rn-Hks20WXtAxn {
        margin-left: 0;
    }

    ._2b1ylNBPUCV70QwL8PCeVi {
        /*min-width: 0;*/
        width: 100%;
    }

    ._2iW__Y0Jv3LpP7xYpJL3Rn._1QAgcfZ8fkCv8iLqfl7-tD ._3W7vvcN5rn-Hks20WXtAxn {
        margin-left: -15rem;
    }
}
._1AT4Zc2jmRShgInKdjrlnt {
    position: relative;
}

._1AT4Zc2jmRShgInKdjrlnt i {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

/*# sourceMappingURL=main.css.map*/